# Unity用 .gitignore
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
# docs/Build/ は例外
![Dd]ocs/Build/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
